<div class="w-full h-full flex items-center justify-center">
  <div class="w-3/4 h-56 bg-zinc-900 dark:bg-white rounded-lg flex flex-col">
    <div class="h-1/6 flex justify-end items-center mr-3">
      <div class="h-4 w-4 bg-lime-500 rounded-full m-1"></div>
      <div class="h-4 w-4 bg-amber-400 rounded-full m-1"></div>
      <div class="h-4 w-4 bg-red-500 rounded-full m-1">
        <div class="h-4 w-4 bg-red-500 rounded-full animate-ping">
        </div>
      </div>
    </div>
  </div>
</div>

